h2{
    color: #7B7272;
}

.well{
    border: 1px solid #7B7272;
}

.nav-tabs {
    background-color: #494949;
    margin-bottom: 0px;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #3B3B3B;
}

.nav-tabs>li>a:hover {
    border-color: transparent #ddd transparent;
}

.color-list-item {
    color: #000;
    text-decoration: none;

}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover{
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

.wrapper{
    margin-top: 30px;
}

#header-page{
    background-color: #494949;
}

ul.nav.nav-tabs.nav-justified.menu-principal {
    padding-top: 0px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu-item{
    color: #f5f5f5;
    border-right: solid #494949;
}

.menu-login{
    background: #CE2E37;
}

.nav>li>a.menu-login:hover, .nav>li>a.menu-login:focus{
    background: #B52830;
}

.img-portada{
    background-color: #fff;
}

.titulos{
    color: #494949;
}

.texto-capitalizado{
    text-transform: capitalize;
}

.texto-centrado{
    text-align: center;
}

.imagen-producto{
    width: 40%;
    float: left;
    position: absolute;
}

.datos-producto{
    margin-left: 45%;
    width: 55%;
}

.table{
    background-color:#fff;
}

.fila-tabla{
    cursor: pointer;
}

.boton-derecha{
    margin-left: 85%;
    width: 15%;
}

.encabezado-tabla{
    background-color: #494949;
    color: #fff;
}

@media (min-width: 992px){
.menu-item{

    height: 70px;
}

.menu-login{

    height: 70px;
}

#header-page{
    height: 80px;
    margin-left: 15px;
    margin-right: 15px;
}

}

@media (max-width: 1199px) {
    .imagen-producto{
        width: 40%;
        float: left;
        position: absolute;
    }

    .datos-producto{
        margin-left: 45%;
        width: 55%;
    }

}

@media (max-width: 991px) {
.wrapper {
    margin-top: 0;
  }

    .boton-derecha{
        width: 160px;
        margin-left:0px;
    }

    .imagen-producto{
        width: 100%;
        float: none;
        position: relative;

    }

    .datos-producto{
        margin-left: 0%;
        width: 100%;
    }

}

@media (max-width: 767px) {

    .boton-derecha{
        width: 160px;
        margin-left:0px;
    }

    .imagen-producto{
        width: 100%;
        float: none;
        position: relative;
    }

    .datos-producto{
        margin-left: 0%;
        width: 100%;
    }

}