h2{
    color: #7B7272;
}

.well{
    border: 1px solid #7B7272;
}

.content {
    margin-top: 20px;
    background-color: #f5f5f5;
    width: 100%;
    display: inline-block;
    padding: 20px;
}

.nav-tabs {
    background-color: #494949;
    margin-bottom: 0px;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #3B3B3B;
}

.nav-tabs>li>a:hover {
    border-color: transparent #ddd transparent;
}

.color-list-item {
    color: #000;
    text-decoration: none;

}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover{
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

.wrapper{
    margin-top: 30px;
}

#header-page{
    background-color: #494949;
}

ul.nav.nav-tabs.nav-justified.menu-principal {
    padding-top: 0px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu-item{
    color: #f5f5f5;
    border-right: solid #494949;
}

.menu-login{
    background: #CE2E37;
    color: #fff;
}

a.menu-item:hover {
    color: #fff;
}

.nav>li>a.menu-login:hover, .nav>li>a.menu-login:focus{
    background: #B52830;
    color: #fff;
}

.box-login{
    background-color: #fcfcfc;
    border: 1px solid #f1f1f1;
    -webkit-box-shadow: 2px 2px 20px 2px rgba(52, 63, 56, 0.2);
    -moz-box-shadow: 2px 2px 20px 2px rgba(52, 63, 56, 0.2);
    bow-shadow: 2px 2px 20px 2px rgba(52, 63, 56, 0.2);
}

.img-portada{
    background-color: #fff;
}

.titulos{
    color: #494949;
}

.texto-capitalizado{
    text-transform: capitalize;
}

.texto-negrita{
    font-weight: bold;
}

.texto-centrado{
    text-align: center;
}

.imagen-producto{
    width: 40%;
    float: left;
    position: absolute;
}

.datos-producto{
    margin-left: 45%;
    width: 55%;
}

.thumbnail-size {
    /*height: 200px;*/
    padding: 20px;
}

.imagen-thumbnail{
    height: 100px;
}

.imagen-thumbnail:hover{
    height: 100px;
    transform: scale(1.2);
}

.table{
    background-color:#fff;
}

.fila-tabla{
    cursor: pointer;
}

.boton-derecha{
    margin-left: 85%;
    width: 15%;
}

.encabezado-tabla{
    background-color: #494949;
    color: #fff;
}

.warning {
  border-color: yellow;
}


@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}


@media (min-width: 992px){
.menu-item{

    height: 70px;
}

.menu-login{
    height: 70px;
}

.contenido-producto{
    min-height: 500px;
}

#header-page{
    height: 80px;
}

}

@media (max-width: 1199px) {
    .imagen-producto{
        width: 40%;
        float: left;
        position: absolute;
    }

    .datos-producto{
        margin-left: 45%;
        width: 55%;
    }

}

@media (max-width: 991px) {
.wrapper {
    margin-top: 0;
  }

    .boton-derecha{
        width: 160px;
        margin-left:0px;
    }

    .imagen-producto{
        width: 100%;
        float: none;
        position: relative;

    }

    .datos-producto{
        margin-left: 0%;
        width: 100%;
    }

}

@media (max-width: 767px) {

    .boton-derecha{
        width: 160px;
        margin-left:0px;
    }

    .imagen-producto{
        width: 100%;
        float: none;
        position: relative;
    }

    .datos-producto{
        margin-left: 0%;
        width: 100%;
    }

}